#login {
    margin: 100px auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left:380px;
}

#login form {
    display: flex;
    flex-direction: column;
}

#login input[type="text"],
#login input[type="password"],
#login input[type="submit"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#login input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#login input[type="submit"]:hover {
    background-color: #0056b3;
}

#login a {
    text-decoration: none;
    color: #007bff;
}

#login a:hover {
    text-decoration: underline;
}
