body {
    /* padding-left: 200px; */
    /* 為導覽列留出空間 */
    position: relative;
    margin: 0px;
}

#list_body {
    padding-left: 22vw;
}

#list_body h1 {
    color: #3a7da7;
}

#side-nav a {
    position: fixed;
    /* Position them relative to the browser window */
    left: -15vw;
    /* Position them outside of the screen */
    transition: 0.3s;
    /* Add transition on hover */
    padding: 15px;
    /* 15px padding */
    padding-left: 4.5vw;
    width: 18vw;
    /* Set a specific width */
    text-decoration: none;
    /* Remove underline */
    font-size: 20px;
    /* Increase font size */
    color: white;
    /* White text color */
    border-radius: 0 5px 5px 0;
    /* Rounded corners on the top right and bottom right side */
}

#side-nav a:hover {
    left: 0;
    /* On mouse-over, make the elements appear as they should */
}


#home {
    top: 15vw;
    background-color: #04AA6D;
    opacity: 0.7;
    z-index: 1;
}

#doctors {
    top: 22vw;
    background-color: #2196F3;
    /* Blue */
    opacity: 0.7;
    z-index: 1;

}

#equipments {
    top: 29vw;
    background-color: #f44336;
    /* Red */
    opacity: 0.7;
    z-index: 1;

}

#treatments {
    top: 36vw;
    background-color: #555;
    /* Light Black */
    opacity: 0.7;
    z-index: 1;

}




.hospital-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 三個一排 */
    gap: 20px;
    /* 設定元素間的間距 */
}

.hospital {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.hospital a {
    text-decoration: none;
    color: #244d66;
}

.hospital img {
    width: 100px;
    /* 調整圖片大小 */
    height: 100px;
}

.search {
    position: absolute;
    left: 70vw;
    width: 50vw;
    top: 0vw;
    color: #3a7da7;
    font-size: 1.5vw;

}

#search {
    position: fixed;
    z-index: 1;
    border: 1px solid #DADADA;
    color: #888;
    height: 27px;
    margin-bottom: 16px;
    margin-right: 20px;
    margin-top: 20px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 16%;
    font-size: 14px;
    line-height: 14px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
    border-radius: 5px;
}

.search #btn{
    position: fixed;
    z-index: 1;
    margin-top: 20px;
    margin-left: 250px;
}

#btn {
    background-color: #3a7da7;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    text-shadow: 1px 1px 1px #83bee2;
    cursor: pointer;
    border-radius: 5px;
}

#btn:hover {
    background-color: #1f88c9;
    box-shadow: 5px 5px 5px #B6B6B6;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #3a7da7;
    background-color: #389ddc;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.tab_fix{
    height: 70px;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 30px 16px;
    transition: 0.3s;
    font-size: 20px;
    color: white;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #3a7da7;
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: #3a7da7;
}
  
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #3a7da7;
    border-top: none;
}

#addbtn {
    background-color: #3a7da7;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    text-shadow: 1px 1px 1px #83bee2;
    cursor: pointer;
    border-radius: 5px;
    right: 30px;
    top: 80px;
    position: absolute;
    text-decoration: none;
}

.medicine-sort-button b {
    border-color: #FFF #3a7da7 #3a7da7;
    border-style: solid;
    border-width: 5px;
    position: absolute;
    top: 15px;
    left: 70px;
}

.medicine-sort-button {
    background-color: #3a7da7;
    margin-bottom: 13px;
    height: 2.5vw;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    text-shadow: 1px 1px 1px #83bee2;
    cursor: pointer;
    border-radius: 5px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    display: block;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}