/* Style for the medication detail page */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.medication-details {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.medication-details img.medication-image {
    display: block;
    margin: 0 auto 20px;
    max-width: 200px; /* 調整照片的最大寬度 */
    height: auto;
}

.medication-details p {
    margin: 0 0 10px;
}

.medication-details p strong {
    font-weight: bold;
}

.back-to-home {
    position: absolute;
    top: 20px;
    left: 10px;
    text-decoration: none;

}

.back-to-home {
    margin-left: 10px;
    background-color: #3a7da7;
    border: none;
    padding: 10px 25px 10px 25px;
    color: white;
    box-shadow: 1px 1px 5px #B6B6B6;
    /* text-shadow: 1px 1px 1px #6d7880; */
    cursor: pointer;
    border-radius: 5px;
}

.back-to-home:hover {
    background-color: #1f88c9;
    box-shadow: 5px 5px 5px #B6B6B6;
}

.aki {
    margin-left: 10px;
    background-color: #3a7da7;
    border: none;
    padding: 10px 25px 10px 25px;
    color: white;
    box-shadow: 1px 1px 5px #B6B6B6;
    /* text-shadow: 1px 1px 1px #6d7880; */
    cursor: pointer;
    border-radius: 5px;
}

.aki:hover {
    background-color: #1f88c9;
    box-shadow: 5px 5px 5px #B6B6B6;
}
