body {
    margin: 0vw;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.container-fluid2 {
    margin-left: 28vw;
}


/* Style the links inside the sidenav */
#side-nav a {
    position: fixed;
    /* Position them relative to the browser window */
    left: -15vw;
    /* Position them outside of the screen */
    transition: 0.3s;
    /* Add transition on hover */
    padding: 15px;
    /* 15px padding */
    padding-left: 4.5vw;
    width: 18vw;
    /* Set a specific width */
    text-decoration: none;
    /* Remove underline */
    font-size: 20px;
    /* Increase font size */
    color: white;
    /* White text color */
    border-radius: 0 5px 5px 0;
    /* Rounded corners on the top right and bottom right side */
}

#side-nav a:hover {
    left: 0;
    /* On mouse-over, make the elements appear as they should */
}

#body {
    margin-left: 0;
}

.nav {
    font-size: 2.5vw;
    height: 8vw;
    line-height: 8vw;
    width: 100%;
    background-color: #389ddc;
    display: flex;
    height: 8.79vw;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 2;
}

.positionfixed {
    height: 8vw;
}

.plus {
    padding-left: 8vw;
    color: white;
    
}

.plus a{
    text-decoration: none;
    color: white;
}

.D{
    padding-left: 8vw;
    color: white;
    
}

.D a{
    text-decoration: none;
    color: white;
}

.fa-pencil:before{
    padding-left: 40vw;
    color: white;
    padding-right: 1.5vw;
    font-size: 2vw;
}

.hometitle {
    color: white;
    text-decoration: none;
    padding-left: 0vw;
    padding-right: 20vw;
}

.fa-user:before {
    padding-left: 8vw;
    padding-right: 2vw;
    color: white;
}

#log {
    font-size: 1.5vw;
    padding-left: 25vw;
    color: white;
    text-decoration: none;
}

/* .detail {
    padding-left: 22vw; */
.picture {
    padding-left: 0vw;
    opacity: 0.9;
    filter: brightness(50%);
}

.care {
    position: relative;
    top: 35vw;
    color: white;
    text-align: center;
    font-size: 5vw;
    z-index: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* The about link: 20px from the top with a green background */
#home {
    top: 15vw;
    background-color: #04AA6D;
    opacity: 0.7;
    z-index: 1;
}

#doctors {
    top: 22vw;
    background-color: #2196F3;
    /* Blue */
    opacity: 0.7;
    z-index: 1;

}

#equipments {
    top: 29vw;
    background-color: #f44336;
    /* Red */
    opacity: 0.7;
    z-index: 1;

}

#treatments {
    top: 36vw;
    background-color: #555;
    /* Light Black */
    opacity: 0.7;
    z-index: 1;

}

#login {
    position: absolute;
    left: 5vw;
    width: 15vw;
}

#login input {
    margin: 1vw;
}

.current_list {
    display: flex;
    width: 22vw;
    flex-direction: column;
    align-items: center;
    padding: 0.5vw;
}

.current_list p {
    margin: 0.3vw;
}

.add_doc_form {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*align-items: flex-end;*/
    padding-left: 1vw;
}

input {
    margin: 1.5vw;
}

.print_doc {
    margin-top: 4vw;
    width: 65vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.print_doc a {
    /* outline: none; */
    text-decoration: none;
    color: black;
}

img {
    width: 150px;
}

.current_list {
    width: 18vw;
}

.current_list img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.current_list img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/*.update_doc {*/
/*    display: flex;*/
/*}*/

.original_doc_detail {
    border: #ddd 0.5vw solid;
    width: 40vw;
    height: 45vw;
    padding: 3vw;
    border-radius: 50px;
}

.eliminate-uneven-space {
    margin-top: 1.5vw;
    margin-bottom: 0.5vw;
}


#inline-delete {
    display: inline;
}

.fix1 {
    margin-top: 20vw;
    height: 10vw;
    background-color: #FCEFE8;
}

.decor1 {
    height: 40vw;
    background-color: #FCEFE8;
}

.picture {
    width: 90%;
    height: 60vw;
    margin: auto;
    display: block;
}

.fix2 {
    height: 6vw;
    background-color: #FCEFE8;
    margin-top: 35vw;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FCEFE8;
}

.line {
    width: 30%;
    color: #4385ae;
}

.item {
    margin-bottom: 0;
    font-size: 3vw;
    text-align: center;
    margin: 0px 6vw;
    color: #4385ae;
}

.decor2 {
    height: 100vw;
    background-color: #FCEFE8;
}


.backfix {
    color: white;
    height: 2vw;
}

.back {
    height: 60vw;
    background-color: white;
    width: 80%;
    margin-left: 10vw;
}

.function {
    font-size: 2vw;
    text-align: center;
    color: #4385ae;
    line-height: 8vw;
    margin: 3vw;
    padding-top: 5vw;
}

.last {
    background-color: #389ddc;
    height: 8vw;
}

.fa-regular {
    margin-right: 1.5vw;
}

.end {
    color: white;
    font-size: 2vw;
    text-align: center;
    padding-top: 3vw;
}

#list_body {
    padding-left: 22vw;
}

#list_body h1 {
    color: #3a7da7;
}

.doctor_menu a {
    text-decoration: none;
    color: #3a7da7;
}

.search {
    position: absolute;
    left: 59vw;
    width: 50vw;
    top: 2vw;
    color: #3a7da7;
    font-size: 1.5vw;

}

#search {
    border: 1px solid #DADADA;
    color: #888;
    height: 27px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 20px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 30%;
    font-size: 14px;
    line-height: 14px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
    border-radius: 5px;
}

#btn {
    background-color: #3a7da7;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    text-shadow: 1px 1px 1px #83bee2;
    cursor: pointer;
    border-radius: 5px;
}

#btn:hover {
    background-color: #1f88c9;
    box-shadow: 5px 5px 5px #B6B6B6;
}

.form-title {
    color: #3a7da7;
}


.changing-form input[type="text"] {
    display: block;
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 20px;
    outline: 0 none;
    padding: 4px 3px 3px 5px;
    width: 30%;
    font-size: 12px;
    line-height: 14px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.hospital-drag-list {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 8px;
    outline: 0 none;
    padding: 4px 3px 3px 5px;
    width: 30%;
    font-size: 14px;
    line-height: 14px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}


input[type="file"] {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 20px;
    outline: 0 none;
    padding: 4px 3px 3px 5px;
    width: 30%;
    font-size: 12px;
    line-height: 14px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.add-img-position input[type="file"] {
    display: block;
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 20px;
    outline: 0 none;
    padding: 4px 3px 3px 5px;
    width: 30%;
    font-size: 12px;
    line-height: 14px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.changing-form span {
    float: left;
    width: 15%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
    
}

.changing-form p {
    color: #888;
    margin: 0;
    padding-top: 10px;
    margin-bottom: 16px;
}

.changing-form .button {
    margin-left: -120px;
    background-color: #3a7da7;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    text-shadow: 1px 1px 1px #83bee2;
    cursor: pointer;
    border-radius: 5px;
}

.changing-form .button-delete {
    margin-left: 125px;
    background-color: #3a7da7;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    text-shadow: 1px 1px 1px #83bee2;
    cursor: pointer;
    border-radius: 5px;
}

.changing-form .button-submit {
    margin-left: 80px;
    display: block;
    background-color: #3a7da7;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    text-shadow: 1px 1px 1px #83bee2;
    cursor: pointer;
    border-radius: 5px;
}

.changing-form .button-delete:hover {
    background-color: #1f88c9;
    box-shadow: 5px 5px 5px #B6B6B6;
}

.changing-form .button-submit:hover {
    background-color: #1f88c9;
    box-shadow: 5px 5px 5px #B6B6B6;
}

.changing-form .button:hover {
    background-color: #1f88c9;
    box-shadow: 5px 5px 5px #B6B6B6;
}

.all{
    margin-left: 23vw;
}

.provider_info{
    margin-top: 15vw;
    display: flex;
}

.profile_picture{
    margin-right: 6vw;
}

.profile_picture img{
    width: 18vw;
    height: 25vw;
}

.name_info h1{
    margin-top: 0;
}

.about_me{
    width: 80%;
}

.schedule-info{
    margin-left: 23vw
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

.container-fluid3 {
    margin-left: 10vw;
}

h1 {
    color: #3a7da7;
}

h2 {
    color: #3a7da7;
}

.treatment-table,
.equipment-table,
.reservation-table {
    margin-right: 20px;
    margin-bottom: 80px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
    color: rgb(114, 114, 114);
    border-radius: 10px 10px 0px 0px;
}

.treatment-table th,
.equipment-table th,
.reservation-table th {
    background-color: #3a7da7;
    color: #ffffff;
    width: 25vw;
    height: 60px;

}

.treatment-table td,
.equipment-table td,
.reservation-table td {
    width: 35vw;
    height: 50px;
    text-align: center;
    font-size: 18px;
}

.treatment-table td a,
.equipment-table td a, 
.reservation-table td a {
    text-decoration: none;
    color: rgb(114, 114, 114);

}

tr:nth-of-type(even) td {
    background-color: #f3f3f3;
}

.treatment-search-box,
.equipment-search-box {
    width: 40vw;
    height: 2.2vw;
    border: 1px solid #DADADA;
    color: #888;
    margin-right: 6px;
    margin-top: 8px;
    outline: 0 none;
    padding: 4px 3px 3px 5px;
    line-height: 14px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.treatment-search-button,
.equipment-search-button {
    height: 2.5vw;
    background-color: #3a7da7;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    text-shadow: 1px 1px 1px #83bee2;
    cursor: pointer;
    border-radius: 5px;

}

.search-checkbox {
    display: block;
    width: 50vw;
}
#patient-heading {
    color: #333;
    font-size: 24px;
    margin-left: 23vw;
}

#patient-list {
    list-style-type: none;
    padding: 0;
    margin-left: 23vw;
    
}

#patient-link {
    text-decoration: none;
    color: #007bff;
    margin-left: 23vw;
}

#patient-link:hover {
    text-decoration: underline;
    margin-left: 23vw;
}
#nope{
    font-size:26px;
    margin-left: 23vw;
    color:red;
}

#inline-delete2 {
    margin-top: 4vw;
    margin-bottom: 1.3vw;
}

.changing-form2 input[type="text"],
.changing-form2 select {
    display: block;
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 8px;
    outline: 0 none;
    padding: 4px 3px 3px 5px;
    width: calc(40% - 10px); /* Adjust width to fit within the form */
    font-size: 14px;
    line-height: 14px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.changing-form2 span {
    float: left;
    width: 5%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}

.changing-form2 label {
    margin-bottom: 10px;
    
}

.changing-form2 .button {
    background-color: #3a7da7;
    border: none;
    padding: 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    text-shadow: 1px 1px 1px #83bee2;
    cursor: pointer;
    border-radius: 5px;
}

.changing-form2 .button:hover {
    background-color: #1f88c9;
    box-shadow: 5px 5px 5px #B6B6B6;
}

.button-delete {
    margin-left: 35px;
    margin-right: 35px;
    background-color: #3a7da7;
    border: none;
    padding: 10px 10px 8px 10px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    text-shadow: 1px 1px 1px #83bee2;
    cursor: pointer;
    border-radius: 5px;
}

.button-delete:hover {
    background-color: #1f88c9;
    box-shadow: 5px 5px 5px #B6B6B6;
}

.addReservation{
    margin-bottom: 50px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    display: block;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.hovertext {
    pointer-events: auto;
    cursor: pointer;
}