body {
    margin-top: 0vw;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

/* Style the links inside the sidenav */
#side-nav a {
    position: absolute;
    /* Position them relative to the browser window */
    left: -15vw;
    /* Position them outside of the screen */
    transition: 0.3s;
    /* Add transition on hover */
    padding: 15px;
    /* 15px padding */
    padding-left: 4.5vw;
    width: 18vw;
    /* Set a specific width */
    text-decoration: none;
    /* Remove underline */
    font-size: 20px;
    /* Increase font size */
    color: white;
    /* White text color */
    border-radius: 0 5px 5px 0;
    /* Rounded corners on the top right and bottom right side */
}

#side-nav a:hover {
    left: 0;
    /* On mouse-over, make the elements appear as they should */
}

#body {
    margin-left: 0;;
}

.nav{
    font-size: 4vw;
    height: 10vw;
    line-height: 10vw;
    width: 100%;
    background-color: #0063A0;
    display: flex;
    height: 8.79vw;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%; 
    z-index: 1;
}

.positionfixed {
    height: 12vw;
}

.plus{
    padding-left: 4vw;
    color: white;
}

.hometitle{
    color: white;
    text-decoration: none;
    padding-left: 0vw;
    padding-right: 20vw;
}

.fa-user:before{
    padding-left: 8vw;
    padding-right: 2vw;
    color: white;
}

#log{
    font-size: 3vw;
    padding-left: 7vw;
    color: white;
    text-decoration: none;
}

.detail{
    padding-left: 22vw;
}

/* The about link: 20px from the top with a green background */
#home {
    top: 15vw;
    background-color: #04AA6D;
    opacity: 0.7;
}

#doctors {
    top: 22vw;
    background-color: #2196F3;
    /* Blue */
    opacity: 0.7;
}

#equipments {
    top: 29vw;
    background-color: #f44336;
    /* Red */
    opacity: 0.7;
}

#about {
    top: 36vw;
    background-color: #555;
    /* Light Black */
    opacity: 0.7;
}

#login {
    position: absolute;
    left: 5vw;
    width: 15vw;
}

#login input {
    margin: 1vw;
}

.current_list {
    display: flex;
    width: 22vw;
    flex-direction: column;
    align-items: center;
    padding: 0.5vw;
}

.current_list p {
    margin: 0.3vw;
}

.add_doc_form {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*align-items: flex-end;*/
    padding-left: 1vw;
}

input {
    margin: 1.5vw;
}

.print_doc {
    margin-top: 4vw;
    width: 65vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.print_doc a {
    /* outline: none; */
    text-decoration: none;
    color: black;
}

img {
    width: 150px;
}

.current_list {
    width: 18vw;
}

.current_list img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.current_list img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/*.update_doc {*/
/*    display: flex;*/
/*}*/

.original_doc_detail {
    border: #ddd 0.5vw solid;
    width: 40vw;
    height: 45vw;
    padding: 3vw;
    border-radius: 50px;
}

.eliminate-uneven-space {
    margin-top: 1.5vw;
    margin-bottom: 0.5vw;
}

.eliminate-unaligned-margin {
    margin-left: 0;
}

#inline-delete {
    display: inline;
}

.fix1{
    margin-top: 20vw;
    height: 10vw;
    background-color: #FCEFE8;
}

.decor1{
    height: 40vw;
    background-color: #FCEFE8;
}

.picture{
    width: 90%;
    height: 60vw;
    margin: auto;
    display: block;
}

.fix2{
    height: 6vw;
    background-color: #FCEFE8;
    margin-top: 35vw;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FCEFE8;
}

.line{
    width: 30%;
    color: #0063A0;
}

.item{
    margin-bottom: 0;
    font-size: 4vw;
    text-align: center;
    margin: 0px 6vw;
    color: #0063A0;
}

.decor2{
    height: 100vw;
    background-color: #FCEFE8;
}


.backfix{
    color: white;
    height: 7vw;
}

.back{
    height: 75vw;
    background-color: white;
    width: 80%;
    margin-left: 10vw;
}

.function{
    font-size: 3vw;
    text-align: center;
    color: #0063A0;
    line-height: 8vw;
    margin: 3vw;
    padding-top: 5vw;
}

.last{
    background-color: #0063A0;
    height: 14vw;
}

.fa-regular{
    margin-right: 3vw;
}

.end{
    color: white;
    font-size: 4vw;
    text-align: center;
    padding-top: 4vw;
}

#list_body{
    padding-left: 22vw;
}

#list_body h1{
    color: #0063A0;
}

.doctor_menu a{
    text-decoration: none;
    color: #0063A0;
}

.search{
    position: absolute;
    left: 5vw;
    width: 20vw;
    top:30vw;

}
